:root {
    --h1-font-size: 2.42rem;
    --h2-font-size: 2.19rem;
    --h3-font-size: 1.86rem;
    --h4-font-size: 1.45rem;
    --big-font-size: 1.75rem;
    --medium-font-size: 1.6rem;
    --small-font-size: 1.29rem;
    --smaller-font-size: 1.06rem;
    --big-space: 4rem;
    --medium-space: 1.27rem;
    --small-space: .29rem;
    --font-medium-space: 1.29em;
    --font-small-space: .6em;
    scroll-behavior: smooth;
    /* colores por defecto */
    --banner-title-color    : hsl(190, 100%, 98%);
    --banner-text-color     : hsl(190, 100%, 96%);
    --color-2               : hsla(190, 90%, 2%, 0.72);
    --color-1               : hsl(190, 100%, 40%);
    /* color lightTheme */
    --title-color           : hsl(190, 100%, 4%);
    --text-color            : hsl(190, 100%, 6%);
    --bg-color              : hsl(190, 4%, 99%);
    --bg-menu-color         : hsla(190, 5%, 95%, .8);
    --bg-theme-button-color : hsl(190, 100%, 80%);
    --theme-button-color    : hsl(190, 100%, 26%);
}

html {
    font-size: 12px;
    
    @media screen and (min-width: 490px) {
        font-size: 16px;
    }
}


*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.section-container {
    padding-left: 6%;
    padding-right: 6%;
    
    @media screen and (min-width: 490px) {
        padding-left: 12%;
        padding-right: 12%;
    }
}

.section-container:not(.banner) {
    padding-top: var(--big-space);
}

.section-container > .title {
    padding-top: var(--font-small-space);
    padding-bottom: var(--font-small-space);
    color: var(--title-color);
}

.title {
    margin-bottom: .09em;
}