.proj {
    position: relative;
    overflow: hidden;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        background-color: var(--color-2);
        backdrop-filter: blur(2.2px);
        padding: var(--small-space);
        top: 100%;
        bottom: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .19s linear;    
    }

    &:hover .description {
        opacity: 1;
        top: 0;
        bottom: 0;
    }
    
    /* contenido de .description */
    .title {
        font-size: var(--h4-font-size);
        color: var(--banner-title-color);
    }
    .text {
        color: var(--banner-title-color);
        font-size: var(--smaller-font-size);
        opacity: 0.9;
    }
    
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: var(--medium-space);
        gap: var(--medium-space);
    }
    
    /* enlaces de .links */
    .proj-link,
    .repo-link {
        text-decoration: none;
        font-size: var(--smaller-font-size);
        border-radius: var(--medium-space);
        padding: var(--small-space);
        color: var(--banner-title-color);
        border: .16em solid var(--banner-title-color);    
    }
    
    .proj-link:hover,
    .repo-link:hover {
        color: var(--color-1);
        border-color: var(--color-1);
    }
    
    .img-container {
        z-index: -1;
    }
    
    .img-container img {
        display: block;
        width: 100%;
    }
}

