/* SECCION DEL ABOUT ME */

@media screen and (min-width: 1024px) {
    .about-me {
        padding-left: 22%;
        padding-right: 22%;
    }
}

.about-me .title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    text-align: center;
}

.about-me .container {
    display: flex;
    flex-direction: column;
    gap: var(--medium-space);
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .about-me .container .title {
        text-align: left;
    }
}

.about-me .container .resume {
    font-size: var(--small-font-size);
    font-weight: bold;
    text-decoration: none;
    color: var(--theme-button-color);
    padding: var(--small-space);
    border-radius: var(--medium-space);
    border: .16em solid var(--theme-button-color);
}

.about-me .container .resume:hover {
    background-color: var(--bg-theme-button-color);
}

.about-me .container .title {
    color: var(--title-color);
    font-size: var(--h3-font-size);
}

.about-me .container p {
    color: var(--text-color);
    font-size: var(--small-font-size);
    line-height: var(--h2-font-size);
}