/* 

SECCION DEL CONTACT

*/

.contact .title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  text-align: center;
}

.contact .container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: var(--big-space);
}

@media screen and (min-width: 1024px) {
  .contact .container {
      grid-template-columns: auto auto auto auto;
  }
}

.contact .container .link-icon {
  display: block;
  width: var(--big-space);
  border-radius: 50%;
  overflow: hidden;
}

.contact .container .link-icon img {
  display: block;
  width: 100%;
}