/* SECCION DEL ABOUT ME */

#about {
  @media screen and (min-width: 1024px) {
    padding-left: 22%;
    padding-right: 22%;
  }

  .title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    text-align: center;
  }
}


#about .container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
  justify-content: center;
  text-align: center;

  .title {
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  .resume {
    display: inline-block;
    font-size: var(--medium-font-size);
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    color: var(--banner-title-color);
    background-color: var(--color-1);
    padding: var(--font-small-space);
    border-radius: var(--big-font-size);
    transition: .27s;
  }

  .resume:hover {
    background-color: hsl(127, 90%, 27%);
  }

  .title {
    color: var(--title-color);
    font-size: var(--h3-font-size);
  }

  p {
    color: var(--text-color);
    font-size: var(--small-font-size);
    line-height: var(--h2-font-size);
  }
}