/* SECCION DEL ABOUT ME */

.about-me {
  @media screen and (min-width: 1024px) {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.about-me .title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  text-align: center;
}

.about-me .container {
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .about-me .container .title {
    text-align: left;
  }
}

.about-me .container .resume {
  display: inline-block;
  font-size: var(--medium-font-size);
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  color: var(--banner-title-color);
  background-color: var(--color-1);
  padding: var(--font-small-space);
  border-radius: var(--big-font-size);
  transition: .27s;
}

.about-me .container .resume:hover {
  background-color: hsl(127, 90%, 27%);
}

.about-me .container .title {
  color: var(--title-color);
  font-size: var(--h3-font-size);
}

.about-me .container p {
  color: var(--text-color);
  font-size: var(--small-font-size);
  line-height: var(--h2-font-size);
}