/*

SECCION DEL BANNER 

*/

.banner {
    background-image: url(/IMG/banner-bg.jpg), linear-gradient(27deg, hsla(190, 90%, 19%, 0.27), hsla(120, 100%, 19%, 0.27), hsla(190, 90%, 19%, 0.27), hsla(120, 100%, 19%, 0.27));
    background-color: rgba(0, 0, 0, 0.72);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    .title {
        color: var(--banner-title-color);
        font-size: var(--h1-font-size);
    }
    
    .subtitle {
        color: var(--banner-text-color);
        font-size: var(--medium-font-size);
    }

    img {
        display: block;
        width: auto;
        height: calc(var(--h2-font-size) * 4);
    }
}

.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 12%;
    border-radius: var(--medium-space);

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding: 9rem;
    }

    & > :first-child {
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    & > :last-child {
        grid-column: 2 / span 1;
        grid-row: 1;
        white-space: nowrap;
        text-align: center;
       
        @media screen and (min-width: 1024px) {
            text-align: left;
        }
    }
}