/* 

CABECERA

*/

.HEADER {
  position: fixed;
  z-index: 9;
  width: 100%;
  bottom: 0;
  backdrop-filter: blur(.19rem);
  background-color: var(--bg-menu-color);
  transition: .22s;

  @media screen and (min-width: 1024px) {
    position: sticky;
    top: 0;
    bottom: initial;
  }

  /* panel que contiene al menu*/
  .panel {
    width: 100%;
    height: 100%;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }

  .menu {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    @media screen and (min-width: 1024px) {
      gap: 2rem;
    }
  }
}